<h1>Create New Post</h1>

<div style="max-width: 300px" >

  <%= form_with model: Post.new, url: posts_path, local: true, method: :post do |f| %>
        <div class="mb-3">
          <%= f.label :title, class: "form-label" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
  
        <div class="mb-3">
          <%= f.label :body, class: "form-label" %>
          <%= f.text_field :body, class: "form-control" %>
        </div>
  
        <div class="mb-3"><%= f.submit %></div>
  
  <% end %>
</div>